body {
  padding-top: 3.5rem;
}

.container {
  padding-top: 20px;
}

nav .btn {
  width: 75px;
  margin-right: 10px;
}
#logout, #loginModal, #newUserModal {
  margin-right: 10px;
}

#image {
  width: 200px;
  height: 200px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}